In [ ]:
introduction to list datatype:

definition: A list is an ordered collection of items.

A list is classified as an mutable data type.(flexible)

A list is defined by using the square brackets []

In [3]:
students = ['usha','ashoka','rahul','bhavya','amith','rohith'] #0,1,2,3,4,5

In [4]:
type(students)

list

In [ ]:
introduction to indexing: the indexing will be starting from 0123....

# 0,1,2,3,4.....

In [ ]:
#how to access or retrive the elements from list.

#i want to access rahul name on the output...?

In [8]:
print(students[2])

rahul

In [7]:
print(students[3])

bhavya

In [9]:
print(students[5])

rohith

In [13]:
print(students[1].title())

Ashoka

In [ ]:
reassignment adding and removing elements from the list....

In [14]:
print(students)

['usha', 'ashoka', 'rahul', 'bhavya', 'amith', 'rohith']

In [ ]:
#req: want to replace amit ----deepak

In [21]:
students [4] = 'deepak' #reassignment has been done!

In [22]:
print(students)

['usha', 'ashoka', 'rahul', 'bhavya', 'deepak', 'rohith']

In [ ]:
# adding new elements to the list. # Gowda

In [24]:
students.append('gowda')

In [25]:
print(students)

['usha', 'ashoka', 'rahul', 'bhavya', 'deepak', 'rohith', 'gowda']

In [ ]:
# mansoor!

In [28]:
students.append('mansoor')

In [29]:
print(students)

['usha', 'ashoka', 'rahul', 'bhavya', 'deepak', 'rohith', 'gowda', 'mansoor']

In [ ]:
#append it will be adding elements to the last index positions of the list.

In [ ]:
#varun -----> 2 indexing position---->

In [30]:
students.insert(2, 'varun')

In [31]:
print(students)

['usha', 'ashoka', 'varun', 'rahul', 'bhavya', 'deepak', 'rohith', 'gowda', 'mansoor']

In [ ]:
#ahmed ------ 4 indexing position ----->

In [33]:
students.insert(4, 'ahmed')

In [34]:
print(students)

['usha', 'ashoka', 'varun', 'rahul', 'ahmed', 'bhavya', 'deepak', 'rohith', 'gowda', 'mansoor']

In [ ]:
removing elements from the list:

In [ ]:
#want to delete varun name from list...

In [37]:
del students[2]  # scenario permanently delete

In [38]:
print(students)

['usha', 'ashoka', 'ahmed', 'bhavya', 'deepak', 'rohith', 'gowda', 'mansoor']

In [ ]:
#2 scenarios ----> use of pop() method....!

In [ ]:
will be deleted the item from the last by default.

it will be storing the deleted items like a carabon copy to variable assigned to it.

we can also delete the custom index positions also from the list by using pop.

In [41]:
x = students.pop()   # x is variable acting like carbon copy.

In [42]:
print(x)
print(students)

mansoor
['usha', 'ashoka', 'ahmed', 'bhavya', 'deepak', 'rohith', 'gowda']

In [44]:
y = students.pop(2)

In [45]:
print(y)
print(students)

ahmed
['usha', 'ashoka', 'bhavya', 'deepak', 'rohith', 'gowda']